version: '3.8'

services:
  domains_api:
    image: 897729130899.dkr.ecr.ap-southeast-1.amazonaws.com/cybertrap-backend:domains-api-v0.1.0
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
        - linux/arm64
    command: [ "/bin/domains_api" ]
    ports:
      - "5000:5000"
    env_file:
      - .env.domains

  nuclei_scanner:
    image: 897729130899.dkr.ecr.ap-southeast-1.amazonaws.com/cybertrap-backend:nuclei-scanner-v0.1.0
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
        - linux/arm64
    command: [ "/bin/nuclei_scanner" ]
    env_file:
      - .env.nuclei

  # schedule_scan_service:
  #   build: .
  #   command: [ "/bin/scan_scheduler" ]
  #   env_file:
  #     - .env.scheduler

